{% extends 'common.html' %}
{% block content %}
    <form action="{% url 'validate_user' %}" method="post">
    {% csrf_token %}
        <br>
    <table align="center" border="4">
        <tr><th class="table_heading">User Login</th></tr>
        {% if error %}
            <tr><th class="error_mess">{{ error }}</th></tr>
        {% endif %}
        <tr><th><input class="inputText" type="email" placeholder="Email" required name="email"></th></tr>
        <tr><th><input class="inputText" type="password" placeholder="Password" required name="password"></th></tr>
        <tr><th style="text-align: center"><button type="submit" class="table_button">Login</button></th></tr>
    </table>
    </form>
    <br><br>
{% endblock %}